.panel.panel-success
  .panel-heading
    %strong.pull-left
      = image_tag avatar_url(@best.user)
      = @best.user.first_name
    %small
      %em.pull-right.text-danger= "#{time_ago_in_words(best.created_at)} ago"
    .clearfix
  .panel-body
    %p= @best.description
  .panel-footer
    .fb-like{data: {action: "like", href: best_url(@best), layout: "standard", share: "true"}}
    = social_share_button_tag(@best.title, url: best_url(@best))
    - @best.comments.each do |comment|
      %p
        = image_tag avatar_url(comment.user)
        %em.small= comment.user.full_name
        %small= comment.title
    %hr
    .col-md-1.col-xs-1.col-sm-1= image_tag avatar_url(current_user)
    .col-md-11.col-xs-11.col-sm-11
      = simple_form_for current_user.comments.new, url: comments_path(commentable_type: @best.class.to_s, commentable_id: @best.id) do |f|
        = f.input :title, as: :text, label: false
        = f.submit 'comment', class: 'btn btn-xs btn-primary pull-right'
    .clearfix